
        <div class="row p-3">
          <div class="col">
            <app-busqueda></app-busqueda>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
              <app-resultados></app-resultados>
          </div>
        </div>

