
<div class="bg-dark border-right p-3" id="sidebar" >
  <div class="d-flex">
    <img src="https://walfiegif.files.wordpress.com/2020/11/cropped-amelia_4-1.png" alt="">
    <h3  class="text-light align-middle">
      WalfieGif
    </h3>
  </div>

  <hr class="text-white">
  <div class="list-group list-reset">
    <a  *ngFor ="let item of historial"
        (click)="buscar(item)"
        href="#"
        class="list-group-item list-group-item-action">{{item |titlecase}}</a>

  </div>

</div>
